# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem

# reports
reports
/tmp
rust/score_engine/target/
rust/score_engine/target/
